html,
body,
div{
    margin: 0;
    padding: 0;
    background: #f4efed;
    line-height: 120%;
    color: black;
    font-family: sans-serif;
}

code, pre { 
  font-family: monospace;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
    font-size: inherit;
}

a:link {
  color: black;
}

/* visited link */
a:visited {
  color: purple;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: purple;
}

img{
  width: 50%;
  display:block;
  margin:auto;
}

.header{
  text-align: right;
}

.wrap{
    max-width: 750px;
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
}

.main{
    text-align: left;
}

.footer{
}
