html,
body,
div{
    margin: 0;
    padding: 0;
    background: #fffdfa;
    line-height: 120%;
    color: black;
    font-family: sans-serif;
}

code, pre {
  font-family: monospace;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
    font-size: inherit;
}

a:link {
  color: black;
}

/* visited link */
a:visited {
  color: purple;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: purple;
}

.frontphoto{
  width: 200px;
}

.spring{
  padding-top: 10px;
  padding-bottom: 10px;
}

.abouttext{
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}

img{
  display:block;
  margin:auto;
}

.column {
  float: left;
}

.nav{
  width: 15%;
  min-width: 15%;
}

.right {
  width: 15%;
}

.main {
  width: 70%;
  padding-left:20px;
  padding-right:20px;
  padding-top: 50px
}


@media screen and (max-width: 750px) {
  .column {
    width: 90%;
  }
  .main{
    padding-top: 0;
  }
}

.footer{
}
