<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">

{% include 'includes/head.html' %}

<body>

  <div class="row">

    <div class="header">
      {% include 'includes/header.html' %}
    </div>
  </div>
  <div class="row">

    <div class="column left">
      <ul class="nav-links">
        <li>{% include 'includes/page_links.html' %}</li>
        <li>{% include 'includes/contact_links.html' %}</li>
      </ul>
    </div>

    <div class="column content">
      {% block content %}
      {% endblock %}
    </div>

    <div class="column right">
      {% block rightcolumn %}
      {% endblock %}
    </div>

  </div>

</body>

</html>