{% extends "base.html" %}

{% block content %}

<section id="content">

  <div class="list-title">
    drafts
  </div>
  <ol id="post-list">
    {% for article in drafts %}
    <li>
      <article class="hentry">
        <header>
          <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
              title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
          [ <time class="published" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }} |</time>| tags:
          {% for tag in article.tags %}
          <span><a href="{{ SITEURL }}/{{ tag.url }}">{{tag}}</a> </span>
          {% endfor %}]
        </header>
        <div class="entry-content"><em>{{ article.summary }}</em></div><!-- /.entry-content -->
      </article>
    </li>
    {% else %}
    {% endfor %}
  </ol>

  <span style="float:right"><a href="{{ SITEURL }}/writing">posts</a></span>

</section>

{% endblock content %}