{% extends "base.html" %}


{% block content %}
<section id="content">
  <div class="page_title">writing</div>
  <div class="list_title">posts</div>

  <ol id="post-list">
    {% for article in articles_page.object_list %}
    <li>
      <article class="hentry">
        <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
            title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
        <div class="entry-time-tags">
          [ <time class="published" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }} |</time>| tags:
          {% for tag in article.tags %}
          <span><a href="{{ SITEURL }}/{{ tag.url }}">{{tag}}</a> </span>
          {% endfor %}
          ]
        </div>
      </article>
    </li>
    {% endfor %}
  </ol>

  {% if drafts %}
  <div class="list_title">drafts</div>
  <ol id="post-list">
    {% for article in drafts %}
    <li>
      <article class="hentry">
        <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
            title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
        <div class="entry-time-tags">
          [ <time class="published" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }} |</time>| tags:
          {% for tag in article.tags %}
          <span><a href="{{ SITEURL }}/{{ tag.url }}">{{tag}}</a> </span>
          {% endfor %}
          ]
        </div>
      </article>
    </li>
    {% endfor %}
  </ol>
  {% endif %}

  {% if articles_page.has_other_pages() %}
  {% include 'pagination.html' %}
  {% endif %}
</section>
{% endblock content %}