{% extends "page.html" %}

{% block page_content %}

<section id="content">

  <div class="list-title">
    posts
  </div>
  <ol id="post-list">
    {% for article in articles %}
    {% if loop.index <= DEFAULT_PAGINATION %}
    <li>
      <article class="hentry">
        <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
            title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
        <div class="entry-time-tags">
          [ <time class="published" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }} |</time>| tags:
          {% for tag in article.tags %}
          <span><a href="{{ SITEURL }}/{{ tag.url }}">{{tag}}</a> </span>
          {% endfor %}]
        </div>
        <div class="entry-content"><em>{{ article.summary }}</em></div>
      </article>
    </li>
    {% endif %}
    {% endfor %}
    {% if articles|length > DEFAULT_PAGINATION %}
    <p style="float:right"><a href="/archive">older posts</a></p>
    {% endif %}
  </ol>

  <div class="list-title">
    drafts
  </div>
  <ol id="post-list">
    {% for draft in drafts %}
    <li>
      <article class="hentry">
        <h2 class="entry-title"><a href="{{ SITEURL }}/{{ draft.url }}" rel="bookmark"
            title="Permalink to {{ draft.title|striptags }}">{{ draft.title }}</a></h2>
        <div class="entry-time-tags">
          [ <time class="published" datetime="{{ draft.date.isoformat() }}">{{ draft.locale_date }} |</time>| tags:
          {% for tag in draft.tags %}
          <span><a href="{{ SITEURL }}/{{ tag.url }}">{{tag}}</a> </span>
          {% endfor %}]
        </div>
        <div class="entry-content"><em>{{ draft.summary }}</em></div>
      </article>
    </li>
    {% endfor %}
  </ol>
</section>

{% endblock %}