---
layout: default
---

<div class="home">

  {{ content }}

  {%- if site.posts.size > 0 -%}
  <ul class="post-list">

    <h1>neuro</h1>
      {%- for post in site.categories.neuro -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <h3>
          <a class="post-link" href="{{ post.url | prepend:site.baseurl | prepend:site.url }}">
            {{ post.title | escape }}
            <span class="post-meta">[{{ post.date | date: date_format }}]</span>
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}

    <h1>philosophy</h1>
      {%- for post in site.categories.philosophy -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <h3>
          <a class="post-link" href="{{ post.url | prepend:site.baseurl | prepend:site.url }}">
            {{ post.title | escape }}
            <span class="post-meta">[{{ post.date | date: date_format }}]</span>
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    
    </ul>


  {%- endif -%}

</div>