body {
    font-family: monospace;
    font-size: 100%;
    background-color: pink;
    color: #111;
    width: 80%;
    min-width: 400px;
    min-height: 100px;
    padding: 1em;
    margin: 0% 10%;
    display: block;
}

.flex-wrapper {
    display: flex;
    min-height: 90vh;
    flex-direction: column;
    justify-content: space-between;
}

a:link {
    color: inherit !important;
    /* text-decoration: none; */
}

a:hover {
    color: aqua;
    text-decoration: underline;
}

a:visited {
    color: black;
}

h1 a {
    color: inherit !important
}

h2 a {
    color: inherit !important
}

h3 a {
    color: inherit !important
}

h4 a {
    color: inherit !important
}

h5 a {
    color: inherit !important
}

h6 a {
    color: inherit !important
}

pre {
    margin: 2em 1em 2em 4em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#title_link {
    float: left;
    color: rebeccapurple;
}

#title_link :hover {
    float: left;
    color: aqua;
}

#page_link {
    display: inline;
    float: right;
    padding-left: 20px;
    color: rebeccapurple;
}

/* Landscape phones and down */
@media (max-width: 600px) {
    #page_link {
        display: block;
        float: right;
    }

    #title_link {
        float: initial;
    }
}

/* Change the link color to #111 (black) on hover */
#page_link :hover {
    color: aqua;
}


#post-list {
    margin-bottom: 1em;
    margin-top: 1em;
    min-height: 100%;
    border: thin solid gray;
}

.post_content {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    min-width: 200px;
    font-size: large;
}

.page_content {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    min-width: 200px;
    font-size: large;
}

.post_time {
    font-size: large;
    padding-top: 30px;
}

.post_title {
    font-size: xx-large;
    color: black;
}

.page_title {
    font-size: xx-large;
    color: black;
}

.post_header {
    text-align: center;
    padding-top: 10px;
}

#social_links ul {
    padding-left: 50px;
}

#social_links li {
    display: inline;
    float: right;
    padding-left: 20px;
}

.list_title {
    text-align: center;
    font-size: x-large;
}