<nav id="top_row">
  <ul>
    <li id="title_link">
      <a href="{{ SITEURL }}/">
        <h2>{{ SITENAME }}</h2>
      </a>
    </li>
    <li id="page_link"><a href="{{ SITEURL }}/pictures">
        <h2>pictures</h2>
      </a></li>
    <li id="page_link"><a target="_blank"
        href="https://www.goodreads.com/review/list/66687559-spencer?shelf=currently-reading">
        <h2>reading</h2>
      </a></li>
    <li id="page_link"><a href="{{ SITEURL }}/writing">
        <h2>writing</h2>
      </a></li>
    <li id="page_link"><a href="{{ SITEURL }}/about">
        <h2>about</h2>
      </a></li>
  </ul>
</nav>